/*General settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";

}

/*Header*/
header {
    padding: 20px;
    text-align: center;

}

.main-container {
    width: 70%;
    margin: 0 auto;
    
}

/*Texts*/
h1 {
    font-weight: 700;
    margin-bottom: 40px;
    color: palevioletred;
}

p {
    margin-bottom: 20px;
}

h3 {
    color:white;
    margin-bottom: 5px;
    margin-top: 15px;
}

.work {
    color: white;
    margin-bottom: 5px;
}

.contact {
    color: dodgerblue;
    
}

.info {

}

/*Row*/
.back {
    background-color: black;
    box-shadow: 0 0 5px black;
}

.row-3 {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: calc(100% / 3);
    float: left;

}   

img {
    max-width: 100%;
    width: 100px;
    float: left;
    margin-right: 15px;

}